@import url(reset.css);
@import url(font.css);
@import url(typography.css);

*{
    box-sizing: border-box;
    
}


.clearfix{
    clear: both;
}
.clearfix::after{
    content:"";
    display: block;
    clear: both;
}

/*layout*/

header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

header > .col{
    float: left;
    height: 78px;
}

header > .col:first-child{
    width: 169px;
    background-color: red;
}

header > .col:nth-child(2){
    width: calc(100% - 169px - 188px);
    background-color: #111;
    
}

header > .col:last-child{
    width: 188px;
    background-color: #111;
    text-align: right;
    padding-right: 38px;
    padding-top: 22px;
}
header> .col:last-child > div{
    display: inline-block;
}

#btn-playnow{
    padding: 8px 16px;
    border-radius: 12px;
    height: 32px;
    background: linear-gradient(135deg, rgb(255, 51, 66) 0%, rgb(255, 48, 64) 0.01%, rgb(255, 125, 102) 100%);
    font-size: 13px;
    color: black;
    cursor: pointer;
    font-weight: bold;
    transition: background 50ms;
    

}
#ico-world{
    width: 32px;
    height: 32px;
    margin-right: 6px;
    text-align: center;
    cursor: pointer;
    

}
#ico-world:hover{
    background-color: rgba(128, 128, 128, 0.1);
}
#ico-world ion-icon{
    padding-top: 5px;
    color: white;
    font-size: 1.2rem;
    vertical-align: middle;

}
#btn-playnow:hover{
    background: rgb(255, 70, 85);
}

/* Middle content Part */

#nav-main{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


#nav-main li{
    color: #f9f9f9;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: .08em;
    border-radius: 6.4px;
    line-height: 15.6px;
}

#nav-main li:hover{
    background-color: rgba(128,128,128,0.3);
}

#nav-main > li{
    float: left;
    padding: 7.5px 16px;
    margin-right: 4px;
}

#nav-main .submenu > nav{
    display: none;
}

#nav-main .submenu:hover svg path{
    fill: white;
}



